<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form">

            <img class="logo" src="assets/logo.png">

            <div class="title">Reset your password</div>

            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field class="w-400">
                    <input matInput placeholder="Email" [(ngModel)]="dataModel.email">
                </mat-form-field>
                <mat-form-field class="w-400">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="dataModel.password">
                </mat-form-field>
                <mat-form-field class="w-400">
                    <input matInput type="password" placeholder="Password (Confirm)"
                        [(ngModel)]="dataModel.confirmPassword">
                </mat-form-field>
                <div class="my-4"></div>
                <vp-validation-issues-component [validation]="validation"></vp-validation-issues-component>
                <div class="my-4"></div>
                <button mat-raised-button color="primary" aria-label="Reset my password" (click)="sendComplete()">
                    Reset my password
                </button>
            </div>
            <div class="my-4"></div>
            <vp-validation-issues-component [validation]="resetValidation"></vp-validation-issues-component>
            <div class="my-4"></div>
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>

        </div>
    </div>
</div>