:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: white;
}

:host ::ng-deep .mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 1);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em;
}
