<div class="container mt-5 profile">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column"
          fxLayoutAlign.xs="center start">
          <div> {{authService.userName}} ({{authService.email}})</div>

          <mat-chip-list *ngIf="authService.isManager" class="ml-3">
            <mat-chip style="background-color: #E65100;color:white">
              Manager
            </mat-chip>
          </mat-chip-list>

          <mat-chip-list *ngIf="authService.isAdmin" class="ml-3">
            <mat-chip style="background-color: #E65100;color:white">
              Administrator
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="myForm">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start">

          <div fxFlex="20">
            <mat-form-field appearance="outline">
              <mat-label>{{'Old Password' |translate}}</mat-label>
              <input matInput type="password" formControlName="oldPassword" minlength="8" placeholder="Old Password"
                autocomplete="off" />
              <mat-error *ngIf="
            oldPassword.invalid &&
            (oldPassword.dirty || oldPassword.touched) &&
            oldPassword.errors.required
          ">
                Password is required.
              </mat-error>
              <mat-error *ngIf="
            oldPassword.invalid &&
            (oldPassword.dirty || oldPassword.touched) &&
            oldPassword.errors.minlength
          ">
                Password must be at least 8 symbols.
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="20">
            <mat-form-field appearance="outline">
              <mat-label>{{'New Password' |translate}}</mat-label>
              <input matInput type="password" formControlName="password" minlength="8" placeholder="New Password"
                autocomplete="off" />
              <mat-error *ngIf="
              password.invalid &&
              (password.dirty || password.touched) &&
              password.errors.required
            ">
                Password is required.
              </mat-error>
              <mat-error *ngIf="
              password.invalid &&
              (password.dirty || password.touched) &&
              password.errors.minlength
            ">
                Password must be at least 8 symbols.
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="20">
            <mat-form-field appearance="outline">
              <mat-label>{{'Confirm New Password' |translate}}</mat-label>
              <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm New Password"
                autocomplete="off" />
              <mat-error *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched) &&
              confirmPassword.errors.required
            ">
                Password is required.
              </mat-error>
              <mat-error *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched) &&
              confirmPassword.errors.compare
            ">
                Passwords do not match.
              </mat-error>
            </mat-form-field>
          </div>
        </div>


      </form>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="save()"
          [disabled]=" myForm.pristine  || !myForm.valid ||  ( !(myForm.get('password').value)) || !(myForm.get('confirmPassword').value)">Save</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>