<form novalidate [formGroup]="form" id="myForm" fxLayout="column" fxLayoutAlign="space-around stretch">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3" fxFlex>
    <div class="mat-title" style="margin:0">{{ pageTitle }}</div>

    <!-- <mat-checkbox name="isActive" formControlName="isActive" style="margin:0">Active </mat-checkbox> -->

    <button class="btn btn-secondary" type="button" style="width: 80px" (click)="deleteStaff(user)">
      Delete
    </button>

    <button class="btn btn-primary" (click)="saveStaff(user)" style="width: 80px; margin-right: 10px"
      [disabled]="!form.valid || !form.dirty">
      Save
    </button>

    <button mat-button (click)="close()" style="-webkit-text-fill-color: red">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <hr style="margin-top: 0">
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch" class="px-3">
    <mat-form-field color="accent" appearance="outline" class="my-padding-bottom">
      <mat-label>Full Name</mat-label>
      <input type="text" placeholder="Input full name" matInput formControlName="userName" (blur)="blur()">
      <mat-hint *ngIf="user.id === ''">Full name cannot be changed after saving.</mat-hint>
      <mat-error *ngIf="displayMessage.userName"> {{ displayMessage.userName }} </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline" class="my-padding-bottom">
      <mat-label>Email</mat-label>
      <input type="email" placeholder="Input email" email matInput formControlName="email" (blur)="blur()">
      <mat-hint *ngIf="user.id === ''">Email cannot be changed after saving.</mat-hint>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">Email is required.
      </mat-error>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.email"> Invalid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline" class="my-padding-bottom">
      <mat-label>Phone</mat-label>
      <input type="text" placeholder="Input phone" matInput formControlName="phone" (blur)="blur()">
      <mat-error *ngIf="displayMessage.phone"> {{ displayMessage.phone }} </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline" class="my-padding-bottom">
      <mat-label>Note</mat-label>
      <textarea matInput placeholder="Input note" rows="2" formControlName="note"></textarea>
    </mat-form-field>

    <mat-checkbox name="isManager" formControlName="isManager" style="margin:0">Is Manager </mat-checkbox>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>
</form>