:host {

  #forgot-password {
    width: 100%;
    height: 100vh;
    background: url('/assets/images/backgrounds/default-background.png') no-repeat;
    background-size: cover;
    background-position: bottom left;

    #forgot-password-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;

      #forgot-password-form {
        max-width: 450px;
        padding: 32px;
        text-align: center;
        background: #FFFFFF;
        margin: auto;

        .logo {
          max-width: 270px;
        }

        .title {
          font-size: 20px;
          margin: 16px 0 16px 0;
        }

        mat-form-field {
          width: 100% !important;
        }

        form {
          width: 100%;
          text-align: left;



          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;
          }
        }

        .login {
          margin: 32px auto 24px auto;
          width: 250px;
          font-weight: 500;

          .text {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
