<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-password-form">

            <img class="logo" src="assets/logo.png">

            <div class="title">Recover your password</div>

            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="dataModel.email">
            </mat-form-field>
            <div class="my-4"></div>

            <vp-validation-issues-component [validation]="validation"></vp-validation-issues-component>

            <div class="my-4"></div>
            <button mat-raised-button color='primary' aria-label="Send reset password request" (click)="sendRequest()">
                Send reset password request
            </button>
            <div class="my-4"></div>

            <div *ngIf="response?.success">
                <div class="message-box info">
                    <span>Your request has been received and an email with more details has been sent.</span>
                </div>
            </div>
            <div class="my-4"></div>
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>
        </div>
    </div>
</div>