<div class="mt-4" fxLayout="column">

  <mat-toolbar color="accent" class="my-4" *ngIf="!isCheckedIn" (click)="router.navigate(['/checkInOut'])"
    style="cursor: pointer">
    <mat-icon>error</mat-icon>
    {{"Please check in first" | translate}}
  </mat-toolbar>


  <div [@fadeInOutHeight]="showScanner ? 'in' : 'out'">
    <div [@fadeInOutHeight]="camerasFound ? 'in' : 'out'" class="ml-3">{{"Please scan"| translate}}</div>
    <zxing-scanner (scanSuccess)="scanSuccessHandler($event)" (camerasFound)="camerasFound = true"
      (camerasNotFound)="camerasNotFound = true" (scanError)="scanError = true">
    </zxing-scanner>
  </div>

  <div *ngIf="camerasNotFound" class="ml-3 text-red">{{"Cameras are not found"| translate}}</div>
  <div *ngIf="scanError" class="ml-3 text-red">{{"Error happened"| translate}}</div>

  <div [@fadeInOutHeight]="showJob && job ? 'in' : 'out'" *ngIf="showJob && job" class="mat-elevation-z8 p-3">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <h3>Job: {{job.jobNumber}}</h3>
        <button mat-icon-button (click)="close()" style="-webkit-text-fill-color: red">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div> {{job.description}}</div>
      <div>
        Please choose action:
      </div>

      <ng-container *ngFor="let action of Actions; let i = index">
        <ng-container *ngIf="isEndActionAndHasStartTime(i)">

          <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <button mat-raised-button [ngStyle]="{ 'background-color': ActionColors[i],'color':ActionTextColors[i] }"
              [disabled]="hasClickedBtn " (click)="jobActionClicked(action)">
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div> {{action | translate}}</div>
                <mat-chip-list *ngIf="getJobActionTime(i)">
                  <mat-chip style="background-color: #E65100;color:white">
                    {{getJobActionTime(i)}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </button>
          </div>

        </ng-container>
      </ng-container>

    </div>
  </div>

  <div [@fadeInOutHeight]="showPanel && panel ? 'in' : 'out'" *ngIf="showPanel && panel" class="mat-elevation-z8 p-3">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="60">
          <h3>Panel: {{panel.panelId}}</h3>
        </div>
        <div fxFlex="40">
          Qty.: {{panel.qty}}
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="60">
          {{panel.length}}X{{panel.width}}X{{panel.depth}}
        </div>
        <div fxFlex="40">
          {{panel.color}}
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
        <span>Packing at </span>
        <mat-chip-list>
          <mat-chip style="background-color: #E65100;color:white">
            {{getPanelPackingTime()}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <mat-hint *ngIf="!showJob && !showPanel" class="container">
    {{scannedInfo}}
  </mat-hint>
</div>