<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <button mat-stroked-button (click)="printQrCode()" *ngIf="showText" color="accent">
        <mat-icon>print</mat-icon>Print QR Code
    </button>

    <button mat-stroked-button (click)="downloadQrCode()" *ngIf="showText" color="primary">
        <mat-icon>cloud_download</mat-icon>Download QR Code
    </button>

    <button mat-icon-button (click)="printQrCode()" *ngIf="!showText" color="accent" matTooltip="Print QR Code">
        <mat-icon>print</mat-icon>
    </button>

    <button mat-icon-button (click)="downloadQrCode()" *ngIf="!showText" color="primary" matTooltip="Download QR Code">
        <mat-icon>cloud_download</mat-icon>
    </button>

    <!-- <qrcode #qrCodeElement [qrdata]="qrData" [width]="50" [errorCorrectionLevel]="'M'" [elementType]="'svg'"
        [margin]='0' (click)="$event.stopPropagation();enlargeQrCode()">
    </qrcode> -->
</div>