<div class="container">
  <div class="page-header text-center">
    <h2>Contact Us</h2>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>
          <div>Vitragroup Head office and factory Sydney</div>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        VITRAGROUP<br>

        13 BROMLEY RD<br>
        EMU PLAINS, NSW. 2750<br>
        AUSTRALIA<br><br>

        T 1300 183 931<br>
        T +61 (2) 47 35 4122<br>

        E mail@vitragroup.com
      </mat-card-content>
    </mat-card>
    <!-- <h4>Or use the form below to drop us an e-mail.</h4> -->
  </div>
  <!-- <form class="form-group text-center" [formGroup]="contactForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        email
        formControlName="email"
        placeholder="Your email address"
      />
      <mat-error
        *ngIf="
          email.invalid &&
          (email.dirty || email.touched) &&
          email.errors.required
        "
      >
        Email is required.
      </mat-error>
      <mat-error
        *ngIf="
          email.invalid && (email.dirty || email.touched) && email.errors.email
        "
      >
        Invalid email.
      </mat-error>
      <mat-error
        *ngIf="
          email.invalid &&
          (email.dirty || email.touched) &&
          email.errors.minlength
        "
      >
        Email must be at least 3 symbols.
      </mat-error>
      <mat-error
        *ngIf="
          email.invalid &&
          (email.dirty || email.touched) &&
          email.errors.maxlength
        "
      >
        Email must be maximum 50 symbols.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="subject"
        placeholder="Subject"
      />
      <mat-error
        *ngIf="
          subject.invalid &&
          (subject.dirty || subject.touched) &&
          subject.errors.required
        "
      >
        Subject is required.
      </mat-error>
      <mat-error
        *ngIf="
          subject.invalid &&
          (subject.dirty || subject.touched) &&
          subject.errors.minlength
        "
      >
        Subject must be at least 5 symbols
      </mat-error>
      <mat-error
        *ngIf="
          subject.invalid &&
          (subject.dirty || subject.touched) &&
          subject.errors.maxlength
        "
      >
        Subject must be maximum 100 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="description"
        placeholder="Description"
        rows="20"
        cols="30"
      ></textarea>
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.errors.required
        "
      >
        Description is required.
      </mat-error>
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.errors.minlength
        "
      >
        Description must be at least 20 symbols
      </mat-error>
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.errors.maxlength
        "
      >
        Description must be maximum 2000 symbols
      </mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button
      [disabled]="!contactForm.valid"
      mat-raised-button
      mat-primary
      (click)="submit()"
    >
      Submit
    </button>
  </mat-dialog-actions> -->
</div>