.blankSpace {
  flex: 1 1 auto;
}

.is-current-menu {
  border: 1px solid#4caf50;
  /* background-color: #4caf50 !important; */
  color: white !important;
}

.is-current-menu-black {
  border: 1px solid#4caf50;
}

.vertical-menu {
  position: absolute;
  z-index: 9;
  /* width: 200px;  Set a width if you like */
}

.vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  text-decoration: none;
  /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}
