<div>
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" accept=".xls,.xlsx"
    style="display: none" multiple />
  <button mat-stroked-button color="primary" (click)="file.click()" [disabled]="disabled" style="padding: 10px;"
    matTooltip="If you upload the same job, it will overwrite the previous one and clean all the work records of it"
    matTooltipClass="example-tooltip-red">
    Upload Jobs from EXCEL files
  </button>

  <span class="upload" *ngIf="progress > 0"> {{ progress }}% </span>
  <span class="upload" *ngIf="message">
    {{ message }}
  </span>
</div>