<section>
  <div class="page-header text-center">
    <h2>About Us</h2>
  </div>
  <div class="container-fluid">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <div>Vitra Group</div>

          </div>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        VitraGroup is a market leading manufacturer and coating applicator of wall cladding panels and products with
        super
        high performance and flexibility. VitraGroup is committed to providing the construction market with high
        quality,
        innovative cladding panels such as VitraPanel, supported by technical expertise and customer service.<br><br>

        ALL OUR PRODUCTS, PANELS AND COATING SYSTEMS ARE MANUFACTURED IN AUSTRALIA AND COMPLY WITH THE BUILDING CODE AND
        FIRE RATING REGULATIONS<br>
        Our company is inspired by a corporate vision to continually raise the benchmark through regular liaison with
        architects and designers, ongoing product development, and technology breakthroughs.<br><br>

        Manufacturing excellence, first class customer service and unrivalled expertise in meeting the needs of the
        facade
        and infrastructure market are just some of our many strengths we offer to designers, engineers and
        contractors.<br>

        The VitraGroup research and development team is committed to product excellence. That focus, combined with the
        resources of global strategic alliances, is your guarantee of first class service and quality.<br>

        Our cladding panels and products are suitable for a wide range of applications including:<br><br>

        <ul>
          <li>Graphic Panels</li>
          <li>Cladding Panels</li>
          <li>Commercial facades</li>
          <li>Hospitals</li>
          <li>Airports</li>
          <li>Schools</li>
          <li>Multi residential facades</li>
          <li>Road Noise Walls</li>
          <li>Tunnel Linings</li>
          <li>Balustrades</li>
          <li>Noise Walls, roads and housing</li>
        </ul>

        <br>
        Manufacturing excellence, first class customer service and unrivalled expertise in meeting the needs of the
        market
        are just some of our many strengths we offer to designers, engineers and contractors.
        <br><br>
        We welcome inquiries on projects that require a higher degree of flexibility and innovation.
      </mat-card-content>
    </mat-card>
    <!-- <div class="col-md-6 panel panel-default mt-2">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>宗旨</h4>
            </mdb-card-title>
            <mdb-card-text>
              Home Care
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-6 panel panel-default mt-2">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>特色</h4>
            </mdb-card-title>
            <mdb-card-text>
              <ul>
                <li>Aged Care</li>
              </ul>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div> -->
  </div>

</section>