<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="50px" style="margin-top: 50px">
  <button mat-raised-button color="primary" (click)="jobActionClicked(CHECK_IN)"
    [disabled]="getJobActionTime(CHECK_IN) || tooFarFromCompany()">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="btn-text"> {{CHECK_IN | translate}}</div>
      <mat-chip-list *ngIf="getJobActionTime(CHECK_IN)">
        <mat-chip style="background-color: #E65100;color:white">
          {{getJobActionTime(CHECK_IN)}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </button>

  <button mat-raised-button color="accent" (click)="jobActionClicked(CHECK_OUT)"
    [disabled]="tooFarFromCompany() || !getJobActionTime(CHECK_IN)">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="btn-text"> {{CHECK_OUT | translate}}</div>
      <mat-chip-list *ngIf="getJobActionTime(CHECK_OUT)">
        <mat-chip style="background-color: #E65100;color:white">
          {{getJobActionTime(CHECK_OUT)}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </button>

  <mat-hint *ngIf="distanceBetweenWorkerAndCompany>0" class="container">
    {{"Your distance from Company is about " | translate}} {{distanceBetweenWorkerAndCompany }} Km
  </mat-hint>

  <mat-hint class="container"> Your Geo-Location: {{workerLatitude }}, {{workerLongitude}} </mat-hint>
</div>